header{
	background-color: #69D2E7;
	height: 65px;
}
a{
	text-decoration: none;
}
#simple-menu{
	position: absolute;
	top: 5px;
	left: 10px;
	font-size: 46px;
	color: #FDFDF0;
}
#title{
	position: absolute;
	top: 10px;
	left: 40%;
	font-size: 30px;
}