header{
	height: 65px;
}
a{
	text-decoration: none;
}
#simple-menu{
	position: absolute;
	top: 5px;
	left: 10px;
	font-size: 40px;
	color: #FDFDF0;
}
#title{
	position: absolute;
	top: 30px;
	left: 30%;
	font-size: 20px;
	color: #FDFDF0;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
}
#profile{
	display: none;
}
#stats{
	display: none;
}
#graph{
	display: none;
}
#about{
	display: none;
}
#logIn{
	display: none;
}
#signUp{
	display: none;
}
#homeButtons{
	position: absolute;
	top: 450px;
	left: 20%;
}
.snazzyButton {
  -webkit-border-radius: 23;
  -moz-border-radius: 23;
  border-radius: 23px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #69D2E7;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}